html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
}

.subtitle {
  opacity: 0.6;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 7.5px;
  float: left;
  vertical-align: middle;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 7.5px;
  margin-right: 10px;
}

.text-container {
  margin-left: 0px;
  /*Adjust the margin as needed to control spacing */
}

h3 {
  margin: 0;
  /* Remove default margin for h3 */
  line-height: 1.2;
  /* Adjust line-height as needed */
}

p {
  margin: 0;
  opacity: 0.6;
}

.icon-pair {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-pair .icon-container {
  width: 48%;
  /* Adjust the width to control spacing between pairs */
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.Hbutton {
  grid-column: 3;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #000000;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  text-decoration: none;
}

.Hbutton:hover {
  transform: translateY(-2px);
}

header {
  background-color: #f5f5f5;
  backgound-size: cover;
  margin: 0;
  padding: 0;
}

.maincontainer {
  background-color: #fff;
  display: grid;
  align-items: center;
  grid-template-columns: 20fr 0fr 0fr;
  column-gap: 10px;
  padding-left: 50px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.mockup {
  width: 230px;
  vertical-align: middle;
}

.main {
  vertical-align: middle;
}

.main h1 {
  font-size: 50px;
}

.main p {
  font-size: 20px;
  opacity: 0.6;
}

.about {
  background-color: #f5f5f5;
  backgound-size: cover;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.about h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
}

.spaced {
  padding-left: 50px;
}

.install {
  background-color: #fff;
  backgound-size: cover;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.install h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
}

.button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
  text-decoration: none;
}

.button:hover {
  transform: translateY(-2px);
}

.rights {
  background-color: #f5f5f5;
  backgound-size: cover;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}